@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source not "../../public";
@custom-variant dark (&:where(.dark, .dark *));


.navbar {
    min-height: 10vh;
}

#logo {
    width: 50px;
}

#content-home {
    height: 30vh;
    border: solid 1px transparent;
    border-radius: 0.25rem;
    background-image: url("../images/snowtricks.jpg");
}

#content-home h1 {
    font-size: 4em;
    text-align: center;
}

#content-home h1.text-center {
    margin-top: 5vh;
}

.image-trick {
    width: 100%;
}

.trick-content-actions a {
    text-decoration: none;
}

.trick-content-actions i {
    margin-right: 10px;
}

.form-check {
    padding-left: 0;
}

.form-check-label {
    display: inherit;
}

.form-check input {
    position: relative;
    left: 20px;
    bottom: 10px;
}

td a {
    text-decoration: none;
}

textarea.form-control {
    height: 200px;
}

@media (min-width: 992px) {
    #content-home {
        height: 90vh;
    }

    #content-home h1.text-center {
        margin-top: 40vh;
    }
}
