body {
    background-color: skyblue;
}

.navbar {
    min-height: 10vh;
}

#logo {
    width: 50px;
}

#content-home {
    height: 30vh;
    border: solid 1px white;
    background-image: url("../images/snowtricks.jpg");
}

#content-home h1 {
    color: #00BFFF;
    font-size: 4em;
    text-align: center;
}

#content-home h1.text-center {
    margin-top: 5vh;
}

#content-home .bi-arrow-down-circle-fill {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.bi {
    font-size: 1.4em;
}

.bi-arrow-down-circle-fill, .bi-arrow-up-circle-fill  {
    font-size: 36px;
}

.bi-trash {
    color: #842029;
}

.image-trick {
    width: 100%;
}

.trick-content-actions a {
    text-decoration: none;
}

.trick-content-actions i {
    margin-right: 10px;
}

.form-check {
    padding-left: 0;
}

.form-check-label {
    display: inherit;
}

.form-check input {
    position: relative;
    left: 20px;
    bottom: 10px;
}

td a {
    text-decoration: none;
}

textarea.form-control {
    height: 200px;
}

@media (min-width: 992px) {
    #content-home {
        height: 90vh;
    }

    #content-home h1.text-center {
        margin-top: 40vh;
    }
}
