{% extends 'base.html.twig' %}

{% block title %}Forget password{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-4 offset-md-4 text-center mt-5">
            <h1>Forgot Password</h1>
            <div class="border border-black border-3 container">
                <div class="col-md-6 offset-md-3 my-3">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input class="btn btn-primary" type="submit" value="Valider" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
