{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div id="content-home">
        <h1 class="text-center">SnowTricks</h1>
        <i
            class="bi bi-arrow-down-circle-fill"
            data-action="click->scroll#bottom"
            data-controller="scroll"
        ></i>
    </div>

    <div
        class="container"
        data-controller="load-more-tricks"
        data-offset="0"
        id="tricks"
    >
        <div
            class="text-center"
            id="load-more-button-div"
        >
            <button
                class="btn btn-primary"
                data-action="load-more-tricks#connect"
                id="load-more-button"
            >Load more</button>
        </div>
        <p class="d-flex justify-content-end">
            <i
                class="bi bi-arrow-up-circle-fill"
                data-action="click->scroll#top"
                data-controller="scroll"
            ></i>
        </p>
    </div>
{% endblock %}
