{% extends 'base.html.twig' %}

{% block title %}Edit {{ name|capitalize }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit {{ name|capitalize }}</h1>

        {{ include('common/' ~ name ~ '/_form.html.twig', {
            'button_label': 'Update',
            edit: true,
            delete: true
        }) }}
    </div>
{% endblock %}
