{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="trick-tab" data-bs-toggle="tab" data-bs-target="#trick-tab-pane" type="button" role="tab" aria-controls="trick-tab-pane" aria-selected="true">Tricks</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment-tab-pane" type="button" role="tab" aria-controls="comment-tab-pane" aria-selected="false">Comments</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="image-tab" data-bs-toggle="tab" data-bs-target="#image-tab-pane" type="button" role="tab" aria-controls="image-tab-pane" aria-selected="false">Images</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="video-tab" data-bs-toggle="tab" data-bs-target="#video-tab-pane" type="button" role="tab" aria-controls="video-tab-pane" aria-selected="false">Videos</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="trick-tab-pane" role="tabpanel" aria-labelledby="trick-tab" tabindex="0">
                {{ include('_inc/_user/_trick.html.twig', {
                    tricks: tricks,
                }) }}
            </div>
            <div class="tab-pane fade" id="comment-tab-pane" role="tabpanel" aria-labelledby="comment-tab" tabindex="0">
                {{ include('_inc/_user/_comment.html.twig', {
                    comments: comments,
                }) }}
            </div>
            <div class="tab-pane fade" id="image-tab-pane" role="tabpanel" aria-labelledby="image-tab" tabindex="0">
                {{ include('_inc/_user/_image.html.twig', {
                    images: images,
                }) }}
            </div>
            <div class="tab-pane fade" id="video-tab-pane" role="tabpanel" aria-labelledby="video-tab" tabindex="0">
                {{ include('_inc/_user/_video.html.twig', {
                    videos: videos,
                }) }}
            </div>
        </div>
        <p class="d-flex justify-content-end">
            <i
                class="bi bi-arrow-up-circle-fill"
                data-action="click->scroll#top"
                data-controller="scroll"
            ></i>
        </p>
    </div>
{% endblock %}
